[class*="col-"]{
    padding: 20px;

    color: white;

    text-align: center;

    border: 1px solid white;

    background-color: #006CFA;
}

.green{
    border: 1px solid #006CFA;;

    background-color: #00E165;
}

.h-120{
    height: 120px;
}

.h-60{
    height: 60px;
}