body{
    color: white;
}

[class*="col-"]{
    padding: 25px;

    text-align: center;

    border: 1px solid white;

    background-color: #006CFA;
}

h1, h2{
    color: black;
}

.green{
    border: 1px solid #006CFA;;

    background-color: #00E165;
}