[class*="col-"]{
    padding: 20px 0;
}

.black{
    background-color: #2C2B2C;
}

.light-black{
    background-color: #2E323D;
}

.pink{
    background-color: #F3C8A0;
}

.dark-pink{
    background-color: #D37C4E;
}

.bord{
    background-color: #704046;
}

.grey{
    background-color: #474648;
}

.red{
    background-color: #BA2E28;
}

.orange{
    background-color: #FF6533;
}

.blu{
    background-color: #40539E;
}

.dark-blu{
    background-color: #1F2A54;
}
